<%= erb :"common/header" %>
    <% if @submitted_form %>
        <% if @submission_error %>
            <p class="error"> Please fill in the fields as required bellow</p>
        <% else %>
            <p class="pass"> You are now logged in. Welcome back USERNAME </p>
        <% end %>
    <% end %> 
    <form>
        Email:
        <input type="email" name="email_field" value="<%= @provided_email %>" />
        <% if @email_field_error %>
                <br><strong class="error"><%= @email_field_error %></strong>
            <% end %>
        <br>
        Password: 
        <input type="text" name="password_field" value="<%= @provided_password %>" />
        <% if @password_field_error %>
                <br><strong class="error"><%= @password_field_error %></strong>
        <% end %>
        <p><input type="submit" value="Submit"></p>
    </form>
<%= erb :"common/footer" %>